<%- include('header', { otsikko: "Pokemon-sukupolvet" }); %>

<div class="container">
    <h1 class="my-4">Pokemon sukupolvet</h1>

    <div class="d-grid gap-2">
        <% for (let i = 1; i <= 9; i++) { %>
            <a href="/sukupolvi/<%= i %>" class="btn btn-primary btn-lg">Sukupolvi <%= i %></a>
        <% } %>
    </div>
</div>

<%- include('footer') %>

